{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock title %}
    {% block links %}{% endblock links %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <style>
    </style>
</head>
<body>
    <!-- Шапка сайта -->
    <header>
        <div class="container header-container">
            <div class="logo">
                <a href="{% url 'index' %}">Форум</a>
            </div>
            <nav>
                <ul>
                    {% if user.is_anonymous %}
                        <li><a href="{% url 'users:login' %}">Войти</a></li>
                        <li><a href="{% url 'users:sign' %}">Регистрация</a></li>
                    {% else %}
                        <li><a href="profile.html">Профиль</a></li>
                        <li><a href="favorites.html">Избранное</a></li>
                        <li><a href="{% url 'users:logout' %}">Выйти</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    
    {% block main %}

    {% endblock main %}
    
    <!-- Подвал -->
    <footer>
        <div class="container">
            <p>&copy; 2023 Форум. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>