{% extends "base.html" %}
{% load static %}
    
{% block title %}
    <title>Форум - Главная страница</title>
{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'posts/style.css' %}">
{% endblock links %}

{% block main %}

    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}

    <!-- Основное содержание -->
    <main class="container">
        <h1 class="page-title">Главная страница форума</h1>        
        <!-- Последние посты -->
        <h2>Последние сообщения</h2>
        {% for post in posts %}
            <div class="posts-list">
                <article class="post">
                    <div class="post-header">
                        <h3 class="post-title"><a href="post.html">{{ post.title }}</a></h3>
                        <span class="post-author">Автор: <a href="profile.html">{{ post.author }}</a></span>
                    </div>
                    <div class="post-content">
                        <p>{{ post.description }}</p>
                    </div>
                    <div class="post-footer">
                        <span class="post-date">Опубликовано: {{ post.date_public }}</span>
                        <div class="post-actions">
                            <a href="#">Ответить</a>
                            <a href="favorites.html">В избранное</a>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </main>
{% endblock main %}